<div class="row search search_shop">
    <form action="/searchshop" method="POST" class="shop_name_input input-group">
        <input type="text" name="shop_name" class="input_data form-control" placeholder="Nhập cửa hàng cần tìm" value="{{shop_name}}">
        <button type="submit" class="btn btn-outline-secondary">Search</button>
    </form>


</div>
