<div class="search_sub search_info">
    <div class="row">
        <form action="/info" class="input-group">
            <input type="text" name="info" class="form-control" placeholder="Nhập linh kiện cần tìm">
            <button type="submit" class="btn btn-outline-secondary">Button</button>
        </form>
    </div>
    <div class="row">
                
    </div>
</div>
</div>