body{
    margin: 0px;
}

h1{
    margin: 0
}

ul, ol{
    padding-left: 18px;
    list-style: None;
}

table, thead, tbody, th, tr, td{
    padding: 0px;
}

p{
    margin: 0px;
}

.container-fluid{
    padding: 0px;
    margin: 0px;
}

.row {
    width: 100%;
    margin: 0px;
}

a{
    text-decoration: none;
}

