/* Search thông số */
.search .search_input{
    background-color: aliceblue;
    height: 618px;
    position: fixed;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search .search_title{
    font-size: 25px;
    font-weight: 800;
}

.search .input_list_item{
    width: 100%;
    margin: 20px 0px;
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search .input_label{
    font-size: medium;
    font-weight: 700;
}

.search .input_data{
    width: 65%;
    padding-left: 7px;
    border-radius: 10px;
}

.search .input_select{
    width: 143px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
}

.search .search_input .btn{
    margin-left: 140px;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
/* Search tên */
.search .laptop_name_input{
    margin-top: 20px;
    border: 1px solid #6c757d;
    border-radius: 11px;
}

.search .component_name_input,
.search .shop_name_input{
    width: 90%;
    padding: 0;
    margin: 20px auto 0px;
    border: 1px solid #6c757d;
    border-radius: 11px;
}

.search .input-group .btn{
    border-radius: 11px;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
/* Hiển thị chung*/
.search .display{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap
}

.search .display_block{
    background-color: white;
    width: 32%;
    height: 200px;
    margin: 5px 0px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
}

.search .display_img{
    height: 100%;
    width: 45%;
    border-right: 1px solid black;
}

.search .device_link{
    width: 100%;
    height: 100%;
    display: flex;
}

.search .img{
    min-width: 70%;
    max-width: 100%;
    min-height: 60%;
    max-height: 80%;
    margin: auto;
}

.search .display_content{
    width: 55%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.search .content{
    width: 100%;
    display: flex;
    align-items: center;
}

.search .content_label{
    font-size: 14px;
    font-weight: 500;
}

.search .content_data{
    font-size: 13px;
    font-weight: 400;
}

.search .content_unit{
    height: 70%;
    font-size: 9px;
    font-weight: 400;
    align-self: flex-end;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
/* Hiển thị riêng */
/* laptop */
.search .display_laptop .display_content{
    justify-content: space-evenly;
}

/* _____________________________________________________________________________ */
/* component */
.search_component .component_name{
    background-color: #818181;
    width: 100%;
    margin: 40px 0px 10px;
    color: #dfdfdf;
    font-size: 30px;
    font-weight: 600;
}

.search .display_component .content{
    margin: 3px 0px;
}

/* _____________________________________________________________________________ */
/* shop */
.search .display_shop .display_block{
    background-image: linear-gradient(to bottom, rgb(234, 251, 234), rgb(238, 246, 245));
    display: block;
    padding: 0px 10px;
}

.search .display_shop .block_name{
    height: 30%;
    display: flex;
    border-bottom: 1px solid rgb(227, 227, 227);
}

.search .display_shop .brand_name{
    margin: auto;
    font-size: 20px;
    font-weight: 700;
    color: rgb(119, 181, 181);
}

.search .display_shop .block_info{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: rgb(53, 53, 53);
}

.search .display_shop .content_label{
    font-size: 15px;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
/* Footer */
.search .nav_page{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.search .nav_page .disabled{
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}





/* ------------------------------------------------||    || ||-\\ ||    //--\\     ||    ||-\\--------------------------------------------------- */
/* ------------------------------------------------||    || ||_// ||   ||    ||  ||__||  ||  ||-------------------------------------------------- */
/* -------------------------------------------------\\__//  ||    ||___ \\__//  ||    || ||_//--------------------------------------------------- */


/* Upload chung */
.upload {
    height: 618px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload .upload_box{
    background-image: linear-gradient(to bottom,rgb(220, 234, 224), rgb(208, 255, 221));
    width: 50%;
    height: 60%;
    border: 3px solid black;
    border-radius: 10px;
}

.upload .upload_title{
    margin: 5px 0px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.upload .line{
    width: 90%;
    margin: 0px auto;
    border: 1px solid black;
}

.upload .upload_list{
    margin: 20px 30px;
}

.upload .upload_data_input[readonly] {
    opacity: 0.8;
    cursor: default;
}

.upload .upload_data_label{
    font-size: 15px;
    font-weight: 500;
}

.upload .upload_btn{
    border-radius: 10px;
    margin: 5px 0px 0px 550px;
}

.upload .upload_btn:hover{
    opacity: 0.7;
}



/* Upload riêng */
.upload_shop .upload_data{
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.upload_shop .upload_data_input{
    width: 85%;
    padding: 0px 10px;
    border-radius: 10px;
    font-size: medium;
}



.upload_device .upload_input{
    display: flex;
    flex-wrap: wrap;
}

.upload_device .upload_data{
    width: 50%;
    margin: 7px 0px;
    display: flex;
    justify-content: space-between;
}

.upload_device .upload_data_input{
    width: 60%;
    padding-left: 10px;
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: medium;
}

.upload_device .no_border{
    border: 0;
}

.upload_device select{
    height: 29px;
}


