/* Trang giới thiệu */
.home {
    padding: 0px;
}

.home .container-fluid {
    height: 609px;
    background-image: linear-gradient(to bottom, #e0e0e0, #e2fff0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .intro {
    height: 380px;
    width: 608px;
    background-image: url(../img/home1.jpg);
    background-size: contain;
    border: 1px solid black;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home h1 {
    font-weight: 700;
}




/* Trang đăng kí và đăng nhập */
.auth-form {
    width: 100%;
    height: 695px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form .auth-form_block{
    width: 40%;
    height: 60%;
    border: 2px solid black;
    border-radius: 50px;
    background-image: linear-gradient(to bottom, rgb(205, 255, 213), #ffffff);
    text-align: center;
}

.auth-form h1 {
    margin: 10px 0px;
}

.auth-form .form__input {
    padding-top: 50px;
    margin: 10px;
    font-size: 20px;
}

.auth-form .form__input__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-form .input {
    width: 80%;
    height: 25px;
    margin: 10px 0px;
    padding: 5px;
    font-size: small;
}

.auth-form .btn {
    margin-top: 150px;
}




/* Trang admin */
.admin_site{
    height: 618px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin_site .admin_intro{
    background-image: linear-gradient(to right, #a3ffea, #d7fff6);
    width: 30%;
    height: 40%;
    border: 2px solid black;
    border-radius: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin_site .admin_intro__text{
    font-size: 30px;
    font-weight: 800;
    color: #98d3fd;
}



