/* Laptop and component */
.info {
    width: 100%;
    height: 609px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info .info_block{
    background-color: white;
    width: 60%;
    height: 400px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
}

.info .info_img{
    width: 40%;
    height: 100%;
    border-right: 2px solid black;
    display: flex;
}

.info .img{
    width: 100%;
    min-height: 60%;
    margin: auto;
}

.info .info_content{
    width: 60%;
    height: 100%;
}

.info .info_content_main{
    width: 100%;
    height: 70%;
    display: flex;
}

.info .content_block_line{
    height: 90%;
    border: 1px solid rgb(211, 211, 211);
    margin: auto;
}

.info .content_block{
    width: 50%;
    height: 100%;
    padding: 10px 20px;
}

.info .content{
    padding: 10px 0px;
    display: flex;
    align-items: center;
}

.info .content_label{
    font-size: 15px;
    font-weight: 600;
}

.info .content_data{
    font-size: 13px;
    font-weight: 400;
}



/* Footer */
.info .info_content_footer{
    width: 100%;
    height: 20%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-top: 1px solid black;
}

.info .info_content_footer .content{
    padding: 0px;
}

.info .info_content_footer .content_label{
    font-size: 17px;
    font-weight: 650;
}

.info .info_content_footer .content_data{
    font-size: 15px;
    font-weight: 450;
}



/* Header */
.info .info_content_header{
    width: 100%;
    height: 10%;
    display: flex;
    border-bottom: 1px solid rgb(179, 179, 179);
}

.info .info_content_header .title{
    font-size: 27px;
    font-weight: 700;
    margin: auto;
}



/* Update btn */
.info .update_block{
    width: 60%;
    margin-top: 5px;
}

.info .update_block .update_btn{
    margin-right: 1px;
    display: flex;
    justify-content: end;
}

.info .update_block .delete_btn{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.info .update_block .update_btn:first-child{
    margin-bottom: 5px;
}

.info .update_block .mybtn{
    width: 100px;
    padding: 3px 6px;
    border-radius: 10px;
}

.info .update_block .mybtn:hover{
    background-color: rgb(167, 167, 167);
}



/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
/* Shop */
.info_shop{
    width: 100%;
    height: 609px;
}

.info_shop .shop_info{
    height: 20%;
    width: 100%;
    padding: 30px 40px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info_shop .shop_name{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
}

.info_shop .name{
    font-size: 40px;
    font-weight: 700;
}

.info_shop .shop_address{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
}

.info_shop .shop_content{
    height: 80%;
    width: 100%;
}

.info_shop .display{
    margin: 0px;
}

.info_shop .content{
    padding: 0px;
}

.info_shop .nav_page{
    height: 37px;
    margin-top: 10px;
}
