<div class="upload upload_shop">
    <div class="upload_box">
        <p class="upload_title">Shop</p>

        <div class="line"></div>
                
        <form action="/uploadshop" method="POST" class="upload_list">
            <div class="upload_data">
                <span class="upload_data_label">Name:</span>
                <input type="text" name="shop_name" class="upload_data_input">
            </div>

            <div class="upload_data">
                <span class="upload_data_label">Address:</span>
                <input type="text" name="shop_address" class="upload_data_input">
            </div>

            <div class="upload_data">
                <span class="upload_data_label">Owner:</span>
                <input type="text" name="username" class="upload_data_input">
            </div>

            <button type="submit" class="upload_btn">Create</button>
        </form>
    </div>
</div>