<div class="upload upload_device gpu">
    <div class="upload_box">
        <p class="upload_title">GPU</p>

        <div class="line"></div>
                
        <form action="/uploadgpu" method="POST" class="upload_list" enctype="multipart/form-data">
            <div class="upload_input">
                <div class="upload_data">
                    <span class="upload_data_label">Name:</span>
                    <input type="text" name="gpu_name" class="upload_data_input">
                </div>

                <div class="upload_data">
                    <span class="upload_data_label">&nbsp;Image:</span>
                    <input type="file" name="gpu_img_file" class="upload_data_input no_border">
                </div>

                <div class="upload_data">
                    <span class="upload_data_label">Vram:</span>
                    <input type="text" name="vram" class="upload_data_input">
                </div>

                <div class="upload_data">
                    <span class="upload_data_label">&nbsp;Clock speed:</span>
                    <input type="text" name="clockSpeed" class="upload_data_input">
                </div>

                <div class="upload_data">
                    <span class="upload_data_label">Manufacturer:</span>
                    <select name="manufacturer" class="upload_data_input">
                        <option disabled selected></option>
                        <option>NVIDIA</option>
                        <option>AMD</option>
                        <option value="Intel_Arc">Intel Arc</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="upload_btn">Create</button>
        </form>
    </div>
</div>