<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/my_css/default.css">
    <link rel="stylesheet" href="/static/my_css/main_layout.css">
    <link rel="stylesheet" href="/static/my_css/sub_layout.css">
    <link rel="stylesheet" href="/static/my_css/main_site.css">
    <link rel="stylesheet" href="/static/my_css/sub_site.css">
</head>
<body style="background-color: #e9e9e9;">

<div class="container-fluid fixed-top">
    <div class="row p-2" style="background-image: linear-gradient(to bottom, #000000, #464646)">
        <div class="col-1">
            <a href="/">
            <img src="/static/img/web icon.png" alt="Lỗi rồi" style="height: 60px; border-radius: 50%;">
            </a>
        </div>
        <div class="col-9 d-flex justify-content-center align-self-center text-light" style="padding-left: 120px;">
            <h1>Computer search website</h1>
        </div>
        <div class="col-2 d-flex justify-content-end align-self-center">
                <a href="/signup">
                <button class="btn btn-light me-1">sign up</button>
                </a>

                <a href="/login">
                <button class="btn btn-light">login</button>
                </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex align-item-center justify-content-between" style="background-color: #505050;">
            <ul class="nav__list">
                <a href="/laptop" class="nav__list__item">
                    <span>Search laptop</span>                    
                </a>
                <a href="/shop" class="nav__list__item">
                    <span>Shop</span>
                </a>
                <a href="/offer" class="nav__list__item">
                    <span>Offer</span>
                </a>
                <a href="/info" class="nav__list__item">
                    <span>Technology info</span>
                </a>
            </ul>
            <ul class="nav__list">
                <a href="myshop" class="nav__list__item special">
                    <span>My Shop</span>
                </a>

                <a href="/adminsite" class="nav__list__item special">
                    <span>Admin</span>
                </a>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 120px;">

    
    
<div class="info">
    <div class="info_block">
        <div class="info_img">
            <img src="/static/img/home1.jpg" alt="Error" class="img">
        </div>

        <div class="info_content">
            <div class="info_content_main">
                <div class="content_block content_main_left">
                    <div class="content">
                        <div class="content_label">Name:&nbsp;&nbsp;</div>
                        <!-- <div class="content_data">{{laptop_name}}</div> -->
                    </div>

                    <div class="content">
                        <div class="content_label">Storage:&nbsp;&nbsp;</div>
                        <!-- <div class="content_data">{{storage}}</div> -->
                    </div>

                    <div class="content">
                        <div class="content_label">Ram:&nbsp;&nbsp;</div>
                        <!-- <div class="content_data">{{ram}}</div> -->
                    </div>

                    <div class="content">
                        <div class="content_label">CPU:&nbsp;&nbsp;</div>
                        <!-- <div class="content_data">{{cpu}}</div> -->
                    </div>

                    <div class="content">
                        <div class="content_label">GPU:&nbsp;&nbsp;</div>
                        <!-- <div class="content_data">{{gpu}}</div> -->
                    </div>
                </div>

                <div class="content_block_line"></div>

                <div class="content_block content_main_right">
                    <div class="content">
                        <div class="content_label">Screen_size:&nbsp;&nbsp;</div>
                        <!-- <div class="content_data">{{screen_size}}</div> -->
                    </div>

                    <div class="content">
                        <div class="content_label">Screen_type:&nbsp;&nbsp;</div>
                        <!-- <div class="content_data">{{screen_type}}</div> -->
                    </div>

                    <div class="content">
                        <div class="content_label">Battery:&nbsp;&nbsp;</div>
                        <!-- <div class="content_data">{{battery}}</div> -->
                    </div>
                </div>
            </div>

            <div class="info_content_footer">
                <div class="content">
                    <div class="content_label">Price:&nbsp;&nbsp;</div>
                    <!-- <div class="content_data">{{price}}</div> -->
                </div>

                <div class="content">
                    <div class="content_label">Shop:&nbsp;&nbsp;</div>
                    <!-- <div class="content_data">{{shop}}</div> -->
                </div>

            </div>
        </div>
    </div>

</div>



    
</div>

</body>
</html>