<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/my_css/default.css">
    <link rel="stylesheet" href="/static/my_css/main_layout.css">
    <link rel="stylesheet" href="/static/my_css/sub_layout.css">
    <link rel="stylesheet" href="/static/my_css/main_site.css">
    <link rel="stylesheet" href="/static/my_css/sub_site.css">
</head>
<body style="background-color: #e9e9e9;">

<div class="container-fluid fixed-top">
    <div class="row p-2" style="background-image: linear-gradient(to bottom, #000000, #464646)">
        <div class="col-1">
            <a href="/">
            <img src="/static/img/web icon.png" alt="Lỗi rồi" style="height: 60px; border-radius: 50%;">
            </a>
        </div>
        <div class="col-9 d-flex justify-content-center align-self-center text-light" style="padding-left: 120px;">
            <h1>Computer search website</h1>
        </div>
        <div class="col-2 d-flex justify-content-end align-self-center">
                <a href="/signup">
                <button class="btn btn-light me-1">sign up</button>
                </a>

                <a href="/login">
                <button class="btn btn-light">login</button>
                </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex align-item-center justify-content-between" style="background-color: #505050;">
            <ul class="nav__list">
                <a href="/laptop" class="nav__list__item">
                    <span>Search laptop</span>                    
                </a>
                <a href="/shop" class="nav__list__item">
                    <span>Shop</span>
                </a>
                <a href="/offer" class="nav__list__item">
                    <span>Offer</span>
                </a>
                <a href="/info" class="nav__list__item">
                    <span>Technology info</span>
                </a>
            </ul>
            <ul class="nav__list">
                <a href="myshop" class="nav__list__item special">
                    <span>My Shop</span>
                </a>

                <a href="/adminsite" class="nav__list__item special">
                    <span>Admin</span>
                </a>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 120px;">

    


<div class="info info_shop">
    <div class="shop_info">
        <div class="info_shop_left">
            <div class="shop_name">
                <span class="name">{{shop_name}}</span>
            </div>
            <div class="shop_address">
                <span class="address">123456789123456789123456789</span>
            </div>
        </div>
        <div class="info_shop_right update_block">
            <a href="" class="update_btn">
                <button class="mybtn">Update</button>
            </a>
        </div>
    </div>

    <div class="shop_content">
        <div class="row search search_laptop">
            <div class="display display_laptop">
                <div class="display_block">
                    <div class="display_img">
                        <a href="/laptopinfo?laptopid={{id}}" class="device_link">
                        <img src={{laptop_img}} class="img">
                        </a>
                    </div>

                    <div class="display_content">
                        <div class="content content_name">
                            <div class="content_label">Name:&nbsp;&nbsp;</div>
                            <div class="content_data">{{laptop_name}}</div>
                        </div>

                        <div class="content content_storage">
                            <div class="content_label">Storage:&nbsp;&nbsp;</div>
                            <div class="content_data">{{storage}}</div>
                        </div>

                        <div class="content content_ram">
                            <div class="content_label">RAM:&nbsp;&nbsp;</div>
                            <div class="content_data">{{ram}}</div>
                        </div>

                        <div class="content content_cpu">
                            <div class="content_label">CPU:&nbsp;&nbsp;</div>
                            <div class="content_data">{{cpu}}</div>
                        </div>

                        <div class="content content_gpu">
                            <div class="content_label">GPU:&nbsp;&nbsp;</div>
                            <div class="content_data">{{gpu}}</div>
                        </div>

                        <div class="content content_battery">
                            <div class="content_label">Battery:&nbsp;&nbsp;</div>
                            <div class="content_data">{{battery}}</div>
                        </div>

                        <div class="content content_price">
                            <div class="content_label">Price:&nbsp;&nbsp;</div>
                            <div class="content_data">{{price}}</div>
                            <div class="content_unit">&nbsp;VNĐ</div>
                        </div>

                    </div>
                </div>

                <div class="display_block"></div>
                <div class="display_block"></div>
                <div class="display_block"></div>
            </div>

            <footer class="nav_page">
                <ul class="pagination">
                    <li class="page-item {{#if range_page.min}}disabled{{/if}}">
                        <a class="page-link" href="?page={{current_page}}&limit=6&back=1">
                            <span>«</span>
                        </a>
                    </li>

                    <!-- {{#each range_page.range}} -->
                    <li class="page-item {{#if_eq . ../current_page}}active{{/if_eq}}">
                        <a class="page-link" href="?page={{.}}&limit=6">{{.}}</a>
                    </li>
                    <!-- {{/each}} -->

                    <li class="page-item {{#if range_page.max}}disabled{{/if}}">
                        <a class="page-link" href="?page={{current_page}}&limit=6&next=1">
                            <span>»</span>
                        </a>
                    </li>
                </ul>
            </footer>
        </div>
    </div>
</div>



    
</div>
</body>
</html>