<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/my_css/default.css">
    <link rel="stylesheet" href="/static/my_css/main_layout.css">
    <link rel="stylesheet" href="/static/my_css/sub_layout.css">
    <link rel="stylesheet" href="/static/my_css/main_site.css">
    <link rel="stylesheet" href="/static/my_css/sub_site.css">
</head>
<body style="background-color: #e9e9e9;">
{{!--  --}}
<input type="hidden" id="initial-user-id" value="{{user.id}}">
{{!--  --}}
<div class="container-fluid fixed-top">
    <div class="row p-2" style="background-image: linear-gradient(to bottom, #000000, #464646)">
        <div class="col-1">
            <a href="/">
            <img src="/static/img/web icon.png" alt="Lỗi rồi" style="height: 60px; border-radius: 50%;">
            </a>
        </div>
        <div class="col-9 d-flex justify-content-center align-self-center text-light" style="padding-left: 120px;">
            <h1>Computer search website</h1>
        </div>
        <div class="col-2 d-flex justify-content-end align-self-center">
            {{#if user}}
                <form method="POST" action="/logout">
                <button type="submit" class="btn btn-light">logout</button>
                </form>
            {{else}}
                <a href="/signup">
                <button class="btn btn-light me-1">sign up</button>
                </a>

                <a href="/login">
                <button class="btn btn-light">login</button>
                </a>
            {{/if}}
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex align-item-center justify-content-between" style="background-color: #505050;">
            <ul class="nav__list">
                <a href="/laptop?page=1&limit=6" class="nav__list__item">
                    <span>Laptop</span>                    
                </a>
                <a href="/shop" class="nav__list__item">
                    <span>Shop</span>
                </a>
                <a href="/component?page=1&page=1&page=1&limit=3" class="nav__list__item">
                    <span>Technology info</span>
                </a>
            </ul>
            <ul class="nav__list">
                {{#if user}}
                    {{#if_us user.role 'staff'}}
                        <a href="/staffsite?shopid={{user.shop.id}}" class="nav__list__item special">
                            <span>My Shop</span>
                        </a>
                    {{/if_us}}
                    {{#if_us user.role 'admin'}}
                        <a href="/adminsite" class="nav__list__item special">
                            <span>Admin</span>
                        </a>
                    {{/if_us}}
                {{/if}} 
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 120px;">

    {{{body}}}
    
</div>

<script src="/static/my_jvs/session.js"></script>
</body>
</html>